doctype html
html
    head
        base(href='/')
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/css/style.css')
        style.
            #page-loader {
                width: 100%;
                height: 100%;
                background-color: white;
                z-index : 100;
                position: absolute;
            }
            .center
            {
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
                position: absolute;
            }
            .loader {
                border: 16px solid #f3f3f3; /* Light grey */
                border-top: 16px solid #00656e; /* Blue */
                border-radius: 50%;
                width: 120px;
                height: 120px;
                animation: spin 2s linear infinite;
            }
            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
bodys
    block content

    //!{vendorBundle.main.scripts}
    //!{clientBundle.main.scripts}
    script(src="lib/vendors.min.js")
    script(src="js/app.min.js")
    script(src="auto-reload.js")
